%html
  %head
    %title The Daily Shell
    %meta{:name => "description", :description => "A web app to help you learn a new Linux command each day or just refresh your memory about an old one. Sign up to be informed as soon as the app launches!"}
    %link{:rel => "stylesheet/less", :type => "text/css", :href => "http://localhost:9393/lib/bootstrap.less"}
    %script{:src => "http://localhost:9393/js/less.js", :type => "text/javascript"}
    %link{:rel => "stylesheet", :href => "http://localhost:9393/css/main.css"}
    %script{:src => "http://localhost:9393/js/dailyshell.js", :type => "text/javascript"}
  %body
    #topbar{:class => "topbar-wrapper", :style => "z-index: 5;"}
      .topbar
        .topbar-inner
          .container-fluid
            %h3 
              %a{:class => "brand",:href => "#"} thedailyshell
    .container
      .hero-unit
        %h1{:class => "command"} Rock your command line! 
        %h3{:class => "one-liner"} Learn a new Linux command like cowsay daily!
      .row
        #synopsis{:class => "span16"}
          #synopsis-header{:class => "page-header"}
            %h3 What is The Daily Shell?
          %p The Daily Shell is an easy reference for Linux command line knowledge and tricks. The Shell features a new command daily to help you become a command line master one step at a time! Sign up for our mailing list to be notified when The Shell launches!
      .row
        #whatcanitdo{:class => "span16"}
          #whatcanitdo-header{:class => "page-header"}
            %h3 What can I do with The Shell?
          %p The Shell show you a new Linux command every day. You can learn a little bit about the command like where to acquire it (if it's not already on your box), what it's useful for, a handy link to the man page, and more. Need to look up a different command? No problem! The Daily Shell intends to be a great resource for enthusiasts, developers, system administrators, or whatever your job may be.
      .row
        #whencaniuseit{:class => "span16"}
          #whencaniuseit-header{:class => "page-header"}
            %h3 When can I use it?
          %p We'll be launching the first round of features very soon with more planned after the first release. Follow us on Twitter (@dailyshell) to keep up with the latest news!
      .row
        #sign-up{:class => "span16"}
          #sign-up-header{:class => "page-header"}
            %h3 Sign up
          %p Sign up with your e-mail, and we'll let you know when The Daily Shell launches. Don't worry! You won't have to wait very long!
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://thedailyshell.us4.list-manage1.com/subscribe/post?u=3d54590b77ff1142cdb3ef3f5&amp;id=cc02539201" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          .clearfix          
            %label E-mail Address
            .input
              <input style="height: 30px;" type="email" placeholder="E-mail Address" class="xlarge" value="" name="EMAIL" id="mce-EMAIL">
          .clearfix
            %label E-mail format
            .input
              %ui{:class => "inputs-list"}
                %li
                  %label
                    <input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0">
                    %span html
                %li
                  %label
                    <input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1">
                    %span text
                %li
                  %label
                    <input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2">
                    %span mobile
          .clearfix
            %label
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          </form>
          </div>

          <!--End mc_embed_signup-->
      #footer
        .row
          #bottom{:class => "span12"}
            #bottom-header{:class => "page-header"}
              %h5 Slight Legal Info
            %p{:class => "small"} The Daily Shell is a creation of Cecil Research and Development of Morgantown, WV, USA to help us all become better developers and hackers. Please share your newfound knowledge with your friends!
            %p{:class => "small"} Programs and commands are copyright of their respective owners.
          #social{:class => "span4"}
            #social-header{:class => "page-header"}
              %h5 Social
            %a{:href => "http://www.twitter.com/#!/dailyshell/"}
              %img{:class => "icon", :src => "img/twitter.png"}
            %a{:href => "http://www.facebook.com"}
              %img{:class => "icon", :src => "img/facebook.png"}