body {
    padding-top: 60px;
}

h1.command {
    text-align: center;
}

h3.one-liner {
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}

.date {
    color: #FFFFFF;
}

.icon {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}